@charset "UTF-8";
:root {
  --green: #40a247;
  --dgray: #403e3e;
  --lgray: #6e6e6e;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::-moz-selection {
  background: rgba(0, 160, 0, 0.5);
  color: #fff;
}

::selection {
  background: rgba(0, 160, 0, 0.5);
  color: #fff;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 'Open Sans', sans-serif;
  color: var(--lgray);
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 220px);
}

a, button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  width: 100%;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: normal;
  color: #6e6e6e;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  transition: 0.3s border;
}

input.success,
textarea.success,
select.success {
  border-color: var(--green);
}

input.error,
textarea.error,
select.error {
  border-color: red;
}

textarea {
  resize: vertical;
  min-height: 130px;
  height: 130px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: var(--dgray);
  line-height: normal;
}

h2.dot {
  display: inline-flex;
  align-items: center;
}

h2.dot::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--dgray);
  border-radius: 50%;
  margin-right: 25px;
}

main {
  padding-top: 80px;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

/* BUTTONS START*/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: #fff;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.btn--green {
  background-color: var(--green);
}

.btn--white-g {
  background-color: #fff;
  border-color: var(--green);
  color: var(--dgray);
}

.btn--white-b {
  background-color: #fff;
  border-color: var(--dgray);
  color: var(--dgray);
}

.about__more {
  margin-top: 20px;
}

.about__more:hover {
  background-color: var(--green);
  color: #fff;
}

/*BUTTONS END */
/* MAIN HEADER START*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__top {
  position: relative;
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  z-index: 2;
}

.header__lside {
  flex-grow: 4;
}

.header__rside {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 170px;
  height: 45px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__mail {
  color: var(--green);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
}

.header__tel {
  display: flex;
  align-items: center;
  color: var(--dgray);
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
}

.header__tel::before {
  content: "";
  background: url("../img/ico-tel.svg") no-repeat 0 0;
  background-size: contain;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.header__call {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  background: var(--green);
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: beat 1.5s ease 0s infinite;
          animation: beat 1.5s ease 0s infinite;
}

.header__call i {
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/ico-tel--white.svg") no-repeat center/contain;
  font-size: 0;
}

.header__call:before, .header__call:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--green);
  opacity: 0.4;
  border-radius: inherit;
}

.header__call:before {
  z-index: -2;
  -webkit-animation: beat-before 1.5s ease 100ms infinite;
          animation: beat-before 1.5s ease 100ms infinite;
}

.header__call:after {
  z-index: -1;
  -webkit-animation: beat-after 1.5s ease 200ms infinite;
          animation: beat-after 1.5s ease 200ms infinite;
}

.header__nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
}

.header__nav ul li {
  position: relative;
}

.header__nav ul li a {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  min-width: 150px;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  transition: 0.3s background;
}

.header__nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header__nav ul li:first-child::before {
  display: none;
}

.header__nav ul li:last-child::after {
  display: none;
}

.header__nav ul li.current::before, .header__nav ul li.current::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 25px #fff;
}

.header__nav ul li.current::before {
  left: -50px;
  clip: rect(0, 50px, 25px, 25px);
}

.header__nav ul li.current::after {
  right: -50px;
  clip: rect(0, 25px, 25px, 0);
}

.header__nav ul li.current a {
  background: #fff;
  color: var(--green);
}

.header[data-nav='false'] {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.header[data-nav='false'] .header__nav {
  -webkit-animation: SlideUp 0.2s both;
          animation: SlideUp 0.2s both;
  position: absolute;
  left: 0;
  right: 0;
}

.header[data-nav='true'] .header__nav {
  -webkit-animation: SlideDown 0.2s both;
          animation: SlideDown 0.2s both;
}

.header__burger {
  display: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  transition: 0.2s linear;
}

.header__burger-in {
  top: 50%;
  display: block;
  position: absolute;
  width: inherit;
  height: 2px;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
  background-color: #000;
}

.header__burger-in:after, .header__burger-in:before {
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #000;
  transition: -webkit-transform ease 0.15s;
  transition: transform ease 0.15s;
  transition: transform ease 0.15s, -webkit-transform ease 0.15s;
}

.header__burger-in:before {
  top: -5px;
}

.header__burger-in:after {
  bottom: -5px;
}

.header__burger.active .header__burger-in {
  background: none;
}

.header__burger.active .header__burger-in:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__burger.active .header__burger-in:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

/* MAIN HEADER END */
/* MAIN HEADING START*/
.heading {
  height: 350px;
  background: url("../img/heading.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.heading__txt {
  flex-basis: 40%;
  padding: 0 20px;
  text-align: right;
  color: #fff;
  font-size: 20px;
}

.heading__title b {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.3;
}

.heading__title b + b {
  font-style: normal;
  font-size: 42px;
  font-weight: bold;
}

.heading p {
  text-transform: uppercase;
  font-weight: 300;
}

/* MAIN HEADING END*/
/* SECTION ABOUT START */
.about {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 50px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.about__operator {
  height: 570px;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__operator img {
  position: absolute;
}

.about__operator-1 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-45%, -61%) !important;
          transform: translate(-45%, -61%) !important;
  z-index: 2;
}

.about__operator-2 {
  -webkit-animation: RotateRight 40s infinite linear;
          animation: RotateRight 40s infinite linear;
  left: calc(50% - 173px);
  top: calc(50% - 173px);
}

.about__operator-3 {
  -webkit-animation: RotateRight 40s infinite linear;
          animation: RotateRight 40s infinite linear;
  left: calc(50% - 279px);
  top: calc(50% - 280px);
}

.about__operator-4 {
  -webkit-animation: RotateLeft 40s infinite linear;
          animation: RotateLeft 40s infinite linear;
  left: calc(50% - 214px);
  top: calc(50% - 216px);
}

.about__text {
  font-size: 14px;
  line-height: 2;
}

.about__text p {
  margin-bottom: 25px;
}

.about__descr {
  margin: 15px 0;
  font-size: 18px;
  color: var(--dgray);
}

/* SECTION ABOUT END */
/* SECTION BCASE START */
.bcase {
  background-color: #fdfdfd;
  position: relative;
  padding-bottom: 50px;
  padding-top: 45px;
}

.bcase__container {
  max-width: 1250px;
  margin: 0 auto;
}

.bcase__title {
  text-align: center;
}

.bcase__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.bcase__nav li {
  margin: 10px 25px;
}

.bcase__nav li.current {
  position: relative;
}

.bcase__nav li.current::before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 100%;
  width: 1px;
  height: 30px;
  background-color: var(--green);
  opacity: 0.8;
}

.bcase__nav li.current a {
  background-color: var(--green);
  color: #fff;
  box-shadow: 0 1px 10px 0 var(--green);
}

.bcase__nav li a {
  position: relative;
  width: auto;
  padding: 0 15px;
  font-size: 14px;
  color: var(--lgray);
  text-transform: uppercase;
  transition: 0.7s all, 0.3s color;
}

.bcase__x-line {
  width: 0px;
  height: 1px;
  background-color: var(--green);
  opacity: 0.8;
  position: absolute;
}

.bcase__x-line.animated {
  -webkit-animation: ScaleX 0.3s linear;
          animation: ScaleX 0.3s linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.bcase__y-line {
  position: absolute;
  left: calc(50% - 1px);
  background-color: var(--green);
  opacity: 0.8;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.bcase__y-line.animated {
  -webkit-animation: ScaleY 1s linear;
          animation: ScaleY 1s linear;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bcase__content {
  display: grid;
  grid-row-gap: 50px;
  padding-top: 70px;
}

.bcase__item {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 200px;
  position: relative;
}

.bcase__item.active {
  display: grid !important;
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
}

.bcase__item:nth-child(even) .bcase__item-desc {
  order: 2;
}

.bcase__item:nth-child(even) .bcase__item-date {
  justify-content: start;
  justify-items: start;
}

.bcase__item:nth-child(even) .bcase__item-day {
  order: -1;
}

.bcase__item:nth-child(odd) .bcase__item-img {
  margin-left: auto;
}

.bcase__item-date {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  grid-column-gap: 7px;
  justify-items: end;
  justify-content: end;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.bcase__item-date::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--lgray);
  opacity: 0.3;
  z-index: 1;
}

.bcase__item-month, .bcase__item-year {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--lgray);
  line-height: normal;
}

.bcase__item-day {
  grid-row: span 2;
  font-size: 38px;
  color: var(--dgray);
  line-height: 1;
}

.bcase__item-title {
  max-width: 300px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  color: var(--dgray);
}

.bcase__item-text {
  font-size: 14px;
  color: var(--dgray);
  line-height: normal;
  margin-bottom: 35px;
}

.bcase__item-footer {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 20px;
  align-items: center;
}

.bcase__item-cat {
  justify-self: start;
  font-family: "Roboto";
  font-weight: bold;
  color: var(--dgray);
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px solid var(--green);
}

.bcase__item-img {
  background-color: #fdfdfd;
  position: relative;
  z-index: 2;
  width: 500px;
  height: 300px;
}

.bcase__item-img .bcase-img {
  display: block;
  -webkit-filter: grayscale(1) blur(0);
          filter: grayscale(1) blur(0);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 1s all;
}

.bcase__item-img .bcase-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 300px;
  height: auto;
}

.bcase__item:hover .bcase-img {
  -webkit-filter: grayscale(0) blur(1px);
          filter: grayscale(0) blur(1px);
}

.bcase__item-more:hover {
  background-color: var(--dgray);
  border-color: var(--dgray);
  color: #fff;
}

.bcase__all {
  justify-self: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.bcase__all.done {
  opacity: 1;
  visibility: visible;
}

.bcase__all .btn:hover {
  border-color: var(--green);
  background-color: #fff;
  color: var(--dgray);
}

/* SECTION BCASE END */
/* SECTION SARVICE START */
.service {
  padding-top: 45px;
}

.service__title {
  text-align: center;
}

.service__info {
  position: relative;
  min-height: 150px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.service__info::before {
  content: "";
  background: url("../img/service-comp.png") no-repeat 0 0;
  background-size: contain;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 140px;
  top: 0;
  z-index: 2;
}

.service__subtitle {
  width: 720px;
}

.service__subtitle p {
  color: var(--lgray);
  font-size: 22px;
  font-weight: 300;
  opacity: 0.5;
}

.service__subtitle p.upper {
  text-transform: uppercase;
}

.service__module {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/services_top-bg-1.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.service__tabs {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.service__tabs::before, .service__tabs::after {
  content: "";
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background: #fff;
}

.service__tabs::before {
  flex-grow: 1;
  margin-left: -15px;
}

.service__tabs::after {
  width: 30px;
  margin-right: -15px;
  background: transparent;
}

.service__tabs li {
  position: relative;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background: #515151;
  padding: 20px 35px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s background;
}

.service__tabs li::after {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.service__tabs li span {
  display: block;
  max-width: 170px;
  font-size: 18px;
  font-weight: 300;
  color: #aca6a6;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.service__tabs li.active {
  background: transparent;
}

.service__tabs li.active span {
  color: #fff;
}

.service__tabscontent {
  padding: 20px;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.service__list {
  display: none;
  list-style: none;
  grid-template-columns: repeat(3, minmax(-webkit-max-content, 300px));
  grid-template-columns: repeat(3, minmax(max-content, 300px));
  grid-gap: 15px;
  justify-content: space-around;
  width: 100%;
}

.service__list.active {
  display: grid;
  -webkit-animation: FadeIn 1s both;
          animation: FadeIn 1s both;
}

.service__list li a {
  font-size: 18px;
  color: #fff;
}

.service__list li a::before {
  content: "";
  border-width: 0 3px 3px 0;
  display: inline-block;
  vertical-align: baseline;
  border-color: var(--green);
  border-style: solid;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  padding-top: 7px;
  padding-left: 7px;
  margin-right: 10px;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.service__list li a:hover::before {
  -webkit-transform: translateX(3px) rotate(-40deg);
          transform: translateX(3px) rotate(-40deg);
}

.service__page {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.service__page-callback {
  display: flex;
  justify-content: center;
}

.service__page-callback .btn:hover {
  background-color: var(--lgray);
  border-color: var(--lgray);
}

.service__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.service__nav li {
  margin: 10px 12px;
  flex: 0 0 auto;
  text-align: center;
}

.service__nav li a {
  width: auto;
  padding: 0 15px;
  font-size: 14px;
  color: var(--lgray);
  background-color: #f5f5f5;
  text-transform: uppercase;
  transition: 0.7s all, 0.3s color;
}

.service__nav li.current a {
  background-color: var(--green);
  color: #fff;
  box-shadow: 0 1px 10px 0 var(--green);
}

.service__item {
  display: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  font-style: normal;
  color: var(--lgay);
}

.service__item:first-of-type {
  display: block;
}

.service__item h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  color: var(--dgray);
  margin-bottom: 30px;
}

.service__item h4 {
  font-size: 18px;
  font-weight: normal;
  color: var(--dgray);
}

.service__item p {
  margin-bottom: 30px;
}

.service__item ul {
  margin: 20px 0;
  list-style-position: inside;
}

/* SECTION SERVICE END */
/* SECTION CONTACTS START */
.contacts {
  display: block;
  padding-top: 45px;
  padding-bottom: 30px;
}

.contacts__title {
  padding-bottom: 30px;
  text-align: center;
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-auto-rows: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1000px;
}

.contacts__form textarea {
  grid-row: span 2;
  max-height: 200px;
}

.contacts__form button {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
}

.contacts__form .btn:hover {
  background-color: var(--dgray);
  border-color: var(--dgray);
  color: #fff;
}

.contacts__info {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 30px;
}

.contacts__info-tel {
  display: inline-block;
  margin-top: 20px;
}

.contacts__info-tel a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: normal;
  color: var(--dgray);
}

.contacts__info-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__info-time p:first-child {
  margin-top: 15px;
  margin-bottom: auto;
}

.contacts__info-day {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: var(--dgray);
}

.contacts__info-day.bolder {
  font-weight: 400;
}

/* SECTION CONTACTS END */
/* BREADCRUMBS START */
.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__inner {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.breadcrumbs__title {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: normal;
  color: var(--dgray);
}

.breadcrumbs ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.breadcrumbs ul li {
  display: inline;
}

.breadcrumbs ul li:last-child {
  padding-right: 0;
}

.breadcrumbs ul li:last-child::after {
  display: none;
}

.breadcrumbs ul li::after {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 10px;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs ul li a {
  color: #fff;
  font-size: 16px;
}

.breadcrumbs ul li span {
  color: var(--dgray);
  cursor: default;
  font-size: 16px;
}

/* BREADCRUMBS END */
/* PAGINATION START */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  list-style-type: none;
}

.pagination li {
  margin: 10px;
  border-radius: 6px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  transition: 0.2s;
}

.pagination li:hover, .pagination li.current {
  background-color: var(--green);
  border-color: var(--green);
}

.pagination li:hover a, .pagination li.current a {
  color: #fff;
}

.pagination li.current a {
  cursor: default;
}

.pagination li a {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgba(62, 62, 62, 0.5);
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

/* PAGINATION END */
/* FOOTER START */
.footer {
  background: var(--dgray) url("../img/footer-bg.png") no-repeat center;
  background-size: cover;
}

.footer__inner {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.footer__logo {
  max-width: 150px;
}

.footer__logo img {
  display: block;
}

.footer__links {
  justify-self: center;
}

.footer__links a {
  color: #fff;
  font-family: "Roboto";
  font-size: 15px;
  line-height: normal;
  margin-right: 70px;
  transition: 0.3s color;
}

.footer__links a:hover {
  color: var(--green);
}

.footer__links a:last-child {
  margin-right: 0;
}

.footer__social {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

.footer__social > a {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}

.footer__social > a:hover {
  background-color: #fff;
}

.footer__social > a:hover path {
  transition: 0.3s;
  fill: var(--green);
}

/* FOOTER END */
/* INNER PAGES STYLE START */
.bcase--inner {
  background-color: #fff;
  padding-bottom: 100px;
}

.bcase__page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 50px;
}

.bcase__article-img {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.bcase__article-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bcase__article-title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: normal;
}

.bcase__article-content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.bcase__article-content p {
  margin-bottom: 15px;
}

.bcase__comments h2 {
  font-weight: 500;
}

.connect__inner {
  padding-bottom: 50px;
}

.connect__content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 30px;
}

.connect__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  color: var(--dgray);
  margin-bottom: 30px;
}

.connect__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: var(--dgray);
}

.connect__phone {
  padding: 15px 0;
  margin: 30px 0;
  border-top: 1px solid rgba(62, 62, 62, 0.2);
  border-bottom: 1px solid rgba(62, 62, 62, 0.2);
}

.connect__phone a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 2;
  color: var(--lgray);
  opacity: 0.5;
  transition: 0.3s opacity;
}

.connect__phone a:hover {
  opacity: 0.8;
}

.connect__numbers {
  display: inline-block;
}

.connect__social {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.connect__social > a {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}

.connect__social > a:hover {
  background-color: var(--green);
}

.connect__social > a:hover path {
  transition: 0.3s;
  fill: #fff;
}

.connect__form {
  display: grid;
  grid-gap: 30px;
}

.connect__form .btn:hover {
  background-color: var(--dgray);
  border-color: var(--dgray);
  color: #fff;
}

.connect__slider .vacancy-d {
  margin-top: 30px;
}

.gmap {
  height: 550px;
  width: 100%;
}

/* INNER PAGES END */
/* VACANCY START */
.vacancy-a {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 30px;
  padding: 50px 0;
}

.vacancy-a__left--title {
  font-size: 36px;
  color: var(--dgray);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.vacancy-a__left--text {
  line-height: 1.56;
  font-size: 16px;
  color: var(--lgray);
  margin-bottom: 34px;
}

.vacancy-a__left--boldword {
  font-size: 18px;
  color: var(--dgray);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.vacancy-a__left--email {
  font-size: 16px;
  color: var(--green);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.vacancy-a__left p {
  margin-bottom: 20px;
}

.vacancy-b--example-c {
  display: flex;
  justify-content: center;
}

.vacancy-b--example {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 300;
  color: var(--green);
  text-align: center;
  text-decoration: underline;
  display: block;
  margin: 0 20px 30px 20px;
}

.vacancy-b--text.top {
  margin-bottom: 50px;
}

.vacancy-b--text.bottom {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(64, 62, 62, 0.2);
  margin-bottom: 50px;
}

.vacancy-b__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 52px;
  margin-bottom: 50px;
}

.vacancy-b__left--title, .vacancy-b__right--title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: var(--dgray);
  margin-bottom: 18px;
}

.vacancy-b__left--content, .vacancy-b__right--content {
  padding-left: 18px;
}

.vacancy-b__left--content li, .vacancy-b__right--content li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: var(--dgray);
}

.vacancy-c {
  max-width: 590px;
  margin-bottom: 86px;
}

.vacancy-c--title {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 300;
  line-height: 0.72;
  color: var(--dgray);
  margin-bottom: 50px;
}

.vacancy-c__phone {
  border-bottom: 1px solid rgba(64, 62, 62, 0.2);
  margin-bottom: 32px;
  color: rgba(110, 110, 110, 0.2);
  padding-bottom: 20px;
}

.vacancy-c__phone--title, .vacancy-c__phone--number {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
  opacity: 0.5;
  color: var(--lgray);
}

.vacancy-c__phone--title {
  margin-bottom: 14px;
}

.vacancy-c__social {
  padding: 0 12px;
}

.vacancy-c__social a:first-of-type {
  margin-right: 40px;
}

.vacancy-c__slider {
  height: 86px;
}

.vacancy-c__slider-item {
  padding: 0 30px;
}

.vacancy-c__slider-item img {
  margin: 0 auto;
  height: 86px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.3s;
}

.vacancy-c__slider-item:hover img {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.vacancy-d {
  margin-bottom: 30px;
}

/* VACANCY END */
/* ABOUT US START */
.company__description {
  position: relative;
  padding-bottom: 30px;
}

.company__description::after {
  content: "";
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%);
  width: 100%;
  height: 1px;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.company__slider {
  visibility: hidden;
  opacity: 0;
  float: right;
  width: 30%;
  margin: 0 0 25px 25px;
  line-height: 1;
  transition: 0.5s opacity;
}

.company__slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.company__article p:not(:last-of-type) {
  margin-bottom: 35px;
}

.company__article ul {
  list-style: none;
  margin-bottom: 35px;
}

.company__article ul li {
  display: flex;
}

.company__article ul li::before {
  content: "·";
  font-size: 30px;
  line-height: 1;
  margin: 0 30px 0 20px;
}

.company__title {
  font-size: 36px;
  color: var(--dgray);
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.company__advantages {
  position: relative;
  display: flex;
  padding-top: 45px;
  padding-bottom: 30px;
}

.company__advantages::after {
  content: "";
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%);
  width: 50%;
  margin: 0 auto;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.company__advantages > * {
  flex-basis: 50%;
}

.company__consultation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.company__slogan {
  position: relative;
  background: url("http://ddwwrr.oscorp.pro/assets/templates/cartli/img/about_us-d.jpg") no-repeat 0 0;
  background-size: cover;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company__slogan::before {
  content: '';
  display: block;
  position: absolute;
  background: url("http://ddwwrr.oscorp.pro/assets/templates/cartli/img/shape_big.svg") no-repeat 0 0;
  background-size: contain;
  z-index: 1;
  width: 150px;
  height: 150px;
  top: 5%;
  left: 20%;
}

.company__slogan p {
  position: relative;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #458a75;
}

.profit__btn {
  width: 100%;
  text-align: left;
  outline: none;
  border: 1px solid var(--dgray);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--dgray);
  cursor: pointer;
}

.profit__btn:after {
  content: '\002B';
  color: #777;
  font-weight: 500;
  float: right;
  margin-left: 5px;
}

.profit__btn:not(:last-of-type) {
  border-bottom: none;
}

.profit__btn.active {
  border-bottom: none;
}

.profit__btn.active ~ .profit__txt {
  border-left: 1px solid var(--dgray);
  border-right: 1px solid var(--dgray);
}

.profit__btn.active:after {
  content: "\2212";
}

.profit__btn.active:last-of-type ~ .profit__txt:last-of-type {
  border-bottom: 1px solid var(--dgray);
}

.profit__txt {
  padding: 0 30px 20px;
  background-color: white;
  overflow: hidden;
  display: none;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: var(--lgray);
}

.consult__form {
  max-width: 1000px;
  margin: 0 auto;
}

.consult__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 30px;
}

.consult__form form textarea {
  grid-row: span 2;
}

.consult__confirm {
  display: flex;
  justify-content: space-between;
}

.consult__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: var(--dgray);
  line-height: normal;
}

.consult__subtitle {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  color: var(--dgray);
  line-height: normal;
  margin-bottom: 50px;
}

.hr-1 {
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(64, 62, 62, 0.2);
}

.about_us-a .slick-dots li button:before {
  font-size: 10px;
  color: #6E6E6E;
  opacity: 0.2;
}

.about_us-a .slick-dots li.slick-active button:before {
  color: #40A247;
  opacity: 1;
}

.about_us-a .vacancy-a__right {
  max-width: 650px;
}

.about_us-b {
  grid-template-columns: 1fr 650px;
  position: relative;
  margin-bottom: 50px;
}

.about_us-b:after {
  content: '';
  width: 150px;
  border-bottom: 1px solid rgba(64, 62, 62, 0.2);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.about_us-b .accordion {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border: 1px solid var(--dgray);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: var(--dgray);
}

.about_us-b .accordion:not(:last-of-type) {
  border-bottom: none;
}

.about_us-b .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.about_us-b .active {
  border-bottom: none;
}

.about_us-b .active ~ .panel {
  border-left: 1px solid var(--dgray);
  border-right: 1px solid var(--dgray);
}

.about_us-b .active:last-of-type ~ .panel:last-of-type {
  border-bottom: 1px solid var(--dgray);
}

.about_us-b .active:after {
  content: "\2212";
}

.about_us-b .panel {
  padding: 0 30px 20px;
  background-color: white;
  overflow: hidden;
  display: none;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: var(--lgray);
}

.about_us-c {
  max-width: 1170px;
  margin: 0 auto 50px;
}

.about_us-c--title.dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.about_us-c--title.dot::before {
  margin-right: 0;
  margin-bottom: 20px;
}

.about_us-c--subtitle {
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  max-width: 1048px;
  margin: 0 auto;
  line-height: normal;
  margin-bottom: 50px;
}

.about_us-c--after-subtitle {
  font-family: 'Roboto';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin-bottom: 30px;
}

.about_us-c__form {
  font-size: 0;
  text-align: center;
}

.about_us-c__form > * {
  margin-bottom: 30px;
}

.about_us-c__form button[type="submit"] {
  margin-bottom: 0;
  margin: 0 auto;
}

.about_us-c__form button[type="submit"]:hover {
  background-color: var(--dgray);
  border-color: var(--dgray);
}

.about_us-c__form textarea {
  min-height: 174px;
}

.about_us-c__custom-select {
  position: relative;
}

.about_us-c__custom-select ul {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #fff;
  max-width: 1170px;
  left: 0;
  right: 0;
}

.about_us-c__custom-select ul li {
  font-size: 16px;
}

.about_us-c__custom-select--input {
  cursor: pointer;
}

.about_us-c__custom-select.open-custom-select input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.about_us-c__custom-select.open-custom-select ul {
  display: block;
  text-align: left;
  border: solid 1px #e0e0e0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about_us-c__custom-select.open-custom-select ul li {
  padding: 5px 20px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.about_us-c__custom-select.open-custom-select ul li:hover {
  background-color: var(--green);
  color: #fff;
}

.about_us-d {
  background-image: url("../img/about_us-d.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about_us-d__inner {
  max-width: 754px;
  margin: 0 auto;
  padding: 0 15px;
}

.about_us-d__inner--text {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  padding: 62px 0;
  position: relative;
}

.about_us-d__inner--text:before {
  content: '';
  display: block;
  position: absolute;
  width: 198px;
  height: 184px;
  background-image: url("../img/shape_big.svg");
  top: 0;
  left: -20px;
}

.about_us-d__inner--text:after {
  content: url("../img/shape.svg");
  display: inline-block;
  vertical-align: super;
  line-height: 10px;
}

/* ABOUT US END */
/* BLOG START */
.blog {
  padding-bottom: 50px;
}

.blog__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 50px;
  margin-bottom: 15px;
}

.blog__article {
  font-family: 'Roboto', sans-serif;
  color: var(--dgray);
  font-size: 16px;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(189, 194, 202, 0.3);
}

.blog__article-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog__article-brief {
  font-weight: 300;
}

.blog__article-more {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  color: var(--green);
  font-weight: 500;
  text-decoration: underline;
  transition: 0.3s;
}

.blog__article-more::after {
  content: "";
  border-width: 0 2px 2px 0;
  display: inline-block;
  vertical-align: baseline;
  border-color: var(--green);
  border-style: solid;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  padding-top: 6px;
  padding-left: 6px;
  margin-left: 3px;
  transition: 0.3s all;
}

.blog__article-more:hover {
  color: var(--dgray);
}

.blog__article-more:hover::after {
  -webkit-transform: translateX(2px) rotate(-40deg);
          transform: translateX(2px) rotate(-40deg);
  border-color: var(--dgray);
}

.blog__page {
  display: grid;
  grid-row-page: 20px;
}

.blog__detail-img {
  height: 400px;
  margin-bottom: 30px;
}

.blog__detail-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__detail-title {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: normal;
  color: var(--dgray);
  margin-bottom: 30px;
}

.blog__detail-text {
  font-family: 'Roboto';
  font-weight: 300;
  color: var(--dgray);
}

.blog__detail-text p {
  margin-bottom: 20px;
}

.blog__comments h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: var(--dgray);
}

.lastinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 25px;
  border-top: 1px solid rgba(189, 194, 202, 0.3);
}

.lastinfo__block {
  font-family: 'Roboto', sans-serif;
  color: var(--dgray);
}

.lastinfo__title {
  margin-bottom: 10px;
  font-size: 20px;
}

.lastinfo__list {
  list-style: none;
}

.lastinfo__list li {
  margin-bottom: 5px;
}

.lastinfo__list li a {
  color: var(--dgray);
  text-decoration: underline;
  font-weight: 300;
}

.lastinfo__all {
  font-size: 18px;
  font-weight: bold;
  color: var(--green);
  text-decoration: underline;
}

/* BLOG END */
/* SEARCH AJAX START*/
.search__inner {
  padding-bottom: 50px;
}

#ajaxSearch_form {
  position: relative;
}

#ajaxSearch_form fieldset {
  border: none;
}

#ajaxSearch_form #searchClose {
  position: absolute;
  top: 2px;
  right: 2px;
}

#ajaxSearch_form #indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.AS_ajax_resultsInfos {
  padding: 10px 0;
}

.AS_ajax_grpResultName,
#ajaxSearch_intro {
  display: none;
}

.ajaxSearch_grpResultName {
  margin-bottom: 20px;
}

.AS_ajax_result,
.ajaxSearch_result {
  background: rgba(200, 200, 200, 0.2);
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.AS_ajax_resultLink,
.ajaxSearch_resultLink,
.AS_ajax_more a {
  color: var(--green);
  font-weight: bold;
}

.paging1 {
  margin: 10px 0;
}

.paging1 > a {
  color: var(--lgray);
  border: 1px solid var(--lgray);
  padding: 0 5px;
}

/* SEARCH AJAX END */
/* Modal START */
.modal-box {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 15px;
}

.modal-box__close {
  position: absolute;
  right: 5px;
  top: 0px;
  background: none;
  color: var(--dgray);
  font-size: 28px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-box__close::before {
  content: '\2715';
}

.modal-box__content {
  position: relative;
  font-size: 18px;
  max-width: 600px;
  min-height: 200px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-top: 10px solid var(--green);
  padding: 30px 20px;
}

.modal-box__content h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: var(--dgray);
}

.modal-box__content form {
  display: grid;
  grid-row-gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.modal-box__content form button {
  justify-self: center;
}

.modal-box__content form button:hover {
  background-color: var(--dgray);
  border-color: var(--dgray);
}

#modalOk h4 {
  color: var(--dgray);
}

#modalOk .modal-box__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal END*/
/* ANIMATION START */
@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes beat-before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes beat-before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes beat-after {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
}

@keyframes beat-after {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  to {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  to {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
}

@-webkit-keyframes RotateLeft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes RotateLeft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes RotateRight {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes RotateRight {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes ScaleX {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes ScaleX {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes ScaleY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes ScaleY {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes SlideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes SlideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes SlideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes SlideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

/* ANIMATION END */
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .heading__txt {
    flex-basis: 45%;
  }
  .about__operator-3 {
    display: none;
  }
  .bcase li.current::before, .bcase__x-line, .bcase__y-line {
    display: none;
  }
  .bcase__content {
    padding-top: 20px;
  }
  .bcase__item {
    grid-column-gap: 50px;
  }
  .bcase__all {
    visibility: visible;
    opacity: 1;
  }
  .service__top-main {
    grid-column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .service__top-desc {
    margin-bottom: 30px;
  }
  .service__top-img {
    max-width: 300px;
  }
  .footer__links a {
    margin-right: 30px;
  }
  .vacancy-a {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about_us-b .vacancy-a__right {
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .header__burger {
    display: block;
  }
  .header__mail {
    display: none;
  }
  .header__nav {
    display: none;
    margin: 0 -15px;
  }
  .header__nav.active {
    display: block;
    -webkit-animation: ScaleY 0.3s !important;
            animation: ScaleY 0.3s !important;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    overflow-y: auto;
  }
  .header__nav ul {
    flex-direction: column;
    background-color: #fff;
  }
  .header__nav ul li a {
    border-top: 1px solid rgba(65, 65, 65, 0.2);
    color: var(--dgray);
    font-weight: 500;
    border-radius: 0;
    text-align: left;
  }
  .header__nav ul li.current::before, .header__nav ul li.current::after {
    display: none;
  }
  .header__nav ul li.current a {
    background: var(--green);
    border-top: none;
    color: #fff;
  }
  .about {
    overflow-x: hidden;
  }
  .about__grid {
    grid-template-columns: 1fr;
  }
  .about__operator {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
    height: 330px;
    width: auto;
  }
  .about__text {
    padding-top: 0;
  }
  .about__more {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .service__top-tabs li {
    flex-basis: auto;
    padding: 10px;
    margin: 0 15px 15px 0;
  }
  .service__top-tabs li span {
    font-size: 15px;
  }
  .service__bottom-grid {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
  .bcase__item-img {
    width: auto;
  }
  .bcase__nav li {
    margin: 5px 10px;
  }
  .contacts__form {
    grid-template-columns: 1fr 1fr;
  }
  .contacts__form button {
    grid-column: auto;
    grid-row: auto;
    align-self: center;
  }
  .contacts__info-time p:first-child {
    margin-top: auto;
    margin-bottom: 15px;
  }
  .footer__inner {
    padding: 20px 15px;
    grid-column-gap: 25px;
  }
  .footer__links {
    text-align: center;
  }
  .footer__links a {
    margin-bottom: 10px;
    display: inline-block;
  }
  .vacancy-b__info {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__top {
    height: 50px;
    padding-right: 0;
  }
  .header__logo {
    height: 35px;
  }
  .header__rside {
    flex-grow: 0;
  }
  .header__tel {
    display: none;
  }
  .header__call {
    position: fixed;
    z-index: 4;
    right: 15px;
    bottom: 15px;
  }
  .about__operator-4, .about__operator-2 {
    max-width: initial;
  }
  .bcase__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 5px;
  }
  .bcase__nav li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .bcase__nav li a {
    height: auto;
    min-height: 40px;
    display: flex;
  }
  .bcase__item {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 0 10px;
  }
  .bcase__item-date {
    justify-content: start;
  }
  .bcase__item-date::before {
    display: none;
  }
  .bcase__item-img {
    order: -1;
    width: 100%;
  }
  .bcase__item:nth-child(even) {
    order: 1;
  }
  .bcase__item-footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .bcase__all {
    display: none;
  }
  .bcase__article-img {
    height: 250px;
  }
  .service {
    padding-top: 90px;
  }
  .service__top-main {
    grid-template-columns: 1fr;
  }
  .service__top-tabs {
    justify-content: center;
  }
  .service__bottom-grid {
    grid-template-columns: 1fr;
  }
  .contacts__form {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .contacts__form textarea {
    order: 2;
  }
  .contacts__form button {
    order: 3;
    justify-self: center;
  }
  .contacts__info {
    grid-template-columns: 1fr;
  }
  .contacts__info-time {
    align-items: flex-start;
  }
  .footer {
    background-position-x: 90%;
  }
  .footer__inner {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .footer__logo {
    justify-self: center;
    margin-bottom: 20px;
  }
  .footer__social {
    justify-self: center;
  }
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .breadcrumbs__inner {
    flex-direction: column;
    justify-content: center;
  }
  .breadcrumbs__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
  .slick-dots {
    bottom: -35px;
  }
  .slick-dots li.slick-active button:before {
    color: var(--green);
    opacity: 1;
  }
  .about_us-a {
    padding-top: 0;
    display: block;
  }
  .about_us-a .vacancy-a__left {
    margin-bottom: 30px;
  }
  .about_us-a .vacancy-a__right {
    margin-left: auto;
    margin-right: auto;
  }
  .about_us-b .accordion {
    font-size: 16px;
    padding: 15px;
  }
  .about_us-b .panel {
    padding: 0 15px 15px;
  }
  .vacancy-a {
    padding-top: 0;
  }
  .vacancy-c__phone--number:last-child {
    display: block;
  }
  .connect__content {
    grid-template-columns: 1fr;
  }
  .connect__form button {
    justify-self: center;
  }
  .gmap {
    height: 300px;
  }
  .blog__articles {
    grid-template-columns: 1fr;
  }
  .blog__page {
    order: -1;
  }
  .blog__detail-img {
    height: 250px;
  }
  .lastinfo {
    grid-template-columns: 1fr;
  }
}
