
/* SECTION CONTACTS START */
.contacts
	&__inner
		background-image: url('../img/new__cartli/contacts-bg.png'), linear-gradient(to right, #6bc28c, #3cc0ac)
		padding-top: 60px
		border-radius: 0 0 15px 15px
	&__title
		color: #fff
		margin-bottom: 15px
		&::before
			opacity: 0.4
		b
			&::after
				border-color: #fff
	&__form
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 30px
		grid-auto-rows: 50px
		margin: 0 auto
		margin-bottom: 30px
		max-width: 765px

		input,
		textarea
			background: transparent
			color: #fff
			border-color: rgba(255, 255, 255, 0.3)
			&:focus
				border-color: rgba(255, 255, 255, 0.6)
			&::placeholder
				color: #fff
				opacity: 1

		textarea
			grid-row: span 2
			max-height: 200px

		button
			grid-column: 3
			grid-row: 3
			justify-self: end
	&__confirm
		display: flex
		justify-content: space-between
		.g-recaptcha
			mix-blend-mode: lighten
			overflow: hidden

	&__info
		background: #fff
		min-height: 150px
		padding: 30px
		font-family: 'Roboto', sans-serif
		font-weight: 300
		border-radius: 10px
		box-shadow: 0 0 50px 0 rgba(168, 165, 165, 0.36)
		&-title
			font-size: 22px
			color: #b0afaf
			text-align: center
		&-phones
			display: flex
			justify-content: center
			flex-wrap: wrap
		&-phone
			font-size: 32px
			color: #6ac28e
			margin: 0 30px
/* SECTION CONTACTS END */