
/* FOOTER START */
.footer
	background: #28323a
	background-size: cover
	&__inner
	&__top
		position: relative
		display: grid
		grid-template-columns: max-content 1fr max-content
		grid-column-gap: 50px
		align-items: center
		justify-content: space-between
		padding: 25px 0
		&::after
			content: ""
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%)
			width: 75%
			margin: 0 auto
			height: 1px
			display: block
			position: absolute
			bottom: 0
			left: 0
			right: 0

	&__logo
		max-width: 150px
		img
			display: block
	&__links
		justify-self: center

		a
			color: #fff
			font-family: "Roboto", sans-serif
			font-size: 15px
			font-weight: 300
			line-height: normal
			margin-right: 70px
			transition: 0.3s color
			&:hover
				color: var(--green)
			&:last-child
				margin-right: 0

	&__social
		justify-self: end
		display: grid
		grid-template-columns: 1fr 1fr
		align-items: center
		grid-gap: 20px
		> a
			width: 40px
			height: 40px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			border-radius: 50%
			transition: 0.3s
			&:hover
				background-color: #fff
				path
					transition: 0.3s
					fill: var(--green)
	&__bottom
		text-align: center
		color: #f0f0f0
		font-size: 14px
		font-family: "Roboto", sans-serif
		font-weight: 100
		line-height: 1.45
		padding: 20px 0
/* FOOTER END */